<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.3.xsd">

	<!-- Annotation are configuring the application -->
	<mvc:annotation-driven />

	<!-- Scan this package for all config annotations -->
	<context:component-scan base-package="com.app.controller" />

	<security:http create-session="never" use-expressions="true"
		auto-config="false" entry-point-ref="preAuthenticatedProcessingFilterEntryPoint">
		<security:intercept-url pattern="/jsp/access-denied.jsp"
			access="permitAll()" />
		<security:intercept-url pattern="/accessdenied.do"
			access="permitAll()" />
		<security:intercept-url pattern="/**"
			access="hasRole('ROLE_USER')" />
		<security:custom-filter position="PRE_AUTH_FILTER"
			ref="preAuthFilter" />
		<security:session-management
			session-fixation-protection="none" />
	</security:http>

	<bean id="preAuthFilter" class="com.app.filter.UrlParametersAuthenticationFilter">
		<property name="authenticationManager" ref="appControlAuthenticationManager" />
	</bean>

	<bean id="preAuthenticationProvider"
		class="org.springframework.security.web.authentication.preauth.PreAuthenticatedAuthenticationProvider">
		<property name="preAuthenticatedUserDetailsService" ref="UserDetailsServiceImpl" />
	</bean>


	<security:authentication-manager alias="appControlAuthenticationManager">
		<security:authentication-provider
			ref="preAuthenticationProvider" />
	</security:authentication-manager>


	<bean id="UserDetailsServiceImpl" class="com.app.security.UserDetailsServiceImpl" />

	<bean id="preAuthenticatedProcessingFilterEntryPoint" class="com.app.security.AuthenticationEntryPointDenied" />


	<!-- <bean id="customUserDetailsService" class="com.app.security.CustomUserDetailsService"></bean> 
		<bean id="http403EntryPoint" class="org.springframework.security.web.authentication.Http403ForbiddenEntryPoint"></bean> -->

</beans>