<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="true">

	<display-name>Spring Security By URL</display-name>
	<servlet>
		<servlet-name>mvc-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/images/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/css/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/js/*</url-pattern>
    </servlet-mapping>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<!-- <init-param>
			<param-name>debug</param-name>
			<param-value>9</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>9</param-value>
		</init-param> -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<listener>
    	<listener-class>
      	org.springframework.security.web.session.HttpSessionEventPublisher
   	 	</listener-class>
	</listener>

        <!-- Loads Spring Security config file -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring-security.xml,
		</param-value>
	</context-param>
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy
		</filter-class>
	</filter>
	<filter>
		<filter-name>DoesNotFilter</filter-name>
		<filter-class>com.leafsoft.school.filter.DoesNotNeedOrgFilter</filter-class>
	</filter>
	<filter>
         <filter-name>OrgFilter</filter-name>
         <filter-class>com.leafsoft.school.filter.OrgFilter</filter-class>
    </filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>DoesNotFilter</filter-name>
		<url-pattern>/accessdenied</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>DoesNotFilter</filter-name>
		<url-pattern>/register</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>DoesNotFilter</filter-name>
		<url-pattern>/logoutsession</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>DoesNotFilter</filter-name>
		<url-pattern>/invaliduser</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>DoesNotFilter</filter-name>
		<url-pattern>/schoolRegister</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>DoesNotFilter</filter-name>
		<url-pattern>/favicon.ico</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>DoesNotFilter</filter-name>
		<url-pattern>/js/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>DoesNotFilter</filter-name>
		<url-pattern>/css/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>DoesNotFilter</filter-name>
		<url-pattern>/images/*</url-pattern>
	</filter-mapping>
    <filter-mapping>
         <filter-name>OrgFilter</filter-name>
         <url-pattern>/*</url-pattern>
    </filter-mapping>
	<servlet>
<servlet-name>test</servlet-name>
<jsp-file>/jsp/test.jsp</jsp-file>
<init-param>
<param-name>hello</param-name>
<param-value>test</param-value>
</init-param>
</servlet>
 
<servlet-mapping>
<servlet-name>test</servlet-name>
<url-pattern>/test</url-pattern>
</servlet-mapping>

<welcome-file-list>
		<welcome-file>/welcome</welcome-file>
	</welcome-file-list>
</web-app>
